{% extends "mynotes/layout.html" %}
{% load static %}
{% block header %}
            
{% endblock %} 
{% block body %}        
            <!-- Features section-->
            <a  class="btn btn-primary btn-lg px-4 me-sm-3"  href="{% url 'create' %}">create+</a>
            <h4 style="text-align:center;">MY NOTES</h4>
        {% for a in p %}
        <h1>hello</h1>
        <div >
           <h3> {{a.Title}}</h3>
           <h6><i>{{a.content}}</i></h6>
       </div>&nbsp;
       {% endfor %}
{% endblock %}
        
       
    
